case study 2 Results:Biomass yield at Initial stage-1.pdf
case study 2 Results:Biomass yield at Late stage-1.pdf
fig10-1.pdf
fig10-1.png
fig11-1.pdf
fig2-1.pdf
fig2-1.png
fig3-1.pdf
fig3-1.png
fig4-1.pdf
fig4-1.png
fig5-1.pdf
fig5-1.png
fig6-1.pdf
fig60-1.pdf
fig7-1.pdf
fig7-1.png
fig8-1.pdf
