C360_2016-11-22-17-01-12-973.jpg
C360_2016-11-26-18-28-30-995.jpg
C360_2016-12-15-10-14-49-539.jpg
C360_2016-12-15-10-30-06-999.jpg
C360_2016-12-17-10-26-59-303.jpg
IMG_20170608_130554.jpg
Modelling_FBFS_Avail_soil_water.png
Modelling_FBFS_Farming_Constraints.png
Modelling_FBFS_Suppl_Farming_Constraints_BNs_plot.png
Modelling_FBFS_Suppl_Water_Supply_Adequacy_BNs_plot.png
Modelling_FBFS_Suppl_flood_reaching_plot_BNs_plot.png
Modelling_FBFS_biomass_yield_Initial_and_late_stage.png
Modelling_FBFS_biomass_yield_initial_stage.png
Modelling_FBFS_biomass_yield_late_stage.png
Modelling_FBFS_factor_of_soil_water.png
Modelling_FBFS_grain_yield.png
pngs
